<%= simple_form_for @grupo_tutores, url: nuevo_grupo_tutor_url, as: 'nuevo_grupo_tutor'  do |f| %>
        <% if @grupo_tutores.errors.any? %>
               <%= pluralize(@grupo_tutores.errors.count, "error") %>

                <% @grupo_tutor.errors.full_messages.each do |actual| %>
                        <%= actual %>
                    <% end %>
            <% end %>

        <p>
        <%= f.label :tutor %><br>
        <%= f.select('estudiante_id', Estudiante.where(rol_id: (Rol.find_by_nombres('Tutor')).id).collect {|c| [c.nombres, c.id]}) %>
      </p>


        <%= render 'tutorados'%>

        <%= f.submit %>
    <% end %>