<h3> <%= link_to 'Crear grupo tutor', nuevo_grupo_tutor_path, class:'btn btn-primary btn-md' %> </h3>

<table class="table">
  <thead>
  <tr>
    <th>Nombres Tutores</th>
    <th>Apellidos</th>
    <th>Mostrar Grupo</th>
    <th>Informe Asignado</th>

  </tr>
  </thead>
  <tbody>

  <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.nombres %></td>
        <td><%= estudiante.apellidos %></td>

        <td><%= link_to 'Mostrar', tutore_path(estudiante),class: 'btn btn-info' %></td>
        <td><%= link_to 'Informe', informeestudiante_path(estudiante),class: 'btn btn-info' %> </td>

      </tr>
  <% end %>
  </tbody>

</table>