<%= form_for @informe do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :nombres %><br />
      <%= f.text_field :nombres %>
    </p>
    <%= f.fields_for :preguntas do |builder| %>
        <%= render 'Campos de preguntas', :f => builder %>
    <% end %>
    <p><%= f.submit "Enviar" %></p>
<% end %>

