<%= simple_form_for @informes, url: informes_url, as: 'nuevo_informe'  do |f| %>
    <%= f.error_notification %>

    <p>
      <%= f.label :nombre %> <br>
      <%= f.text_field :nombre %>
    </p>

    <p><%= f.submit "Enviar" %></p>
<% end %>

