<%= form_for(@estudiante, :html => {:role => 'form'}) do |f| %>
    <% if @estudiante.errors.any? %>
        <%= pluralize(@estudiante.errors.count, "error") %>

        <% @estudiante.errors.full_messages.each do |actual| %>
            <%= actual %>
        <% end %>
    <% end %>
    <p>
      <%= f.label :nombres %> <br>
      <%= f.text_field :nombres %>
    </p>
    <p>
      <%= f.label :apellidos %> <br>
      <%= f.text_field :apellidos %>
    </p>
    <p>
      <%= f.label :rut %> <br>
      <%= f.text_field :rut %>
    </p>
    <p>
      <%= f.label :email %> <br>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :direccion %> <br>
      <%= f.text_field :direccion %>
    </p>
    <p>
      <%= f.label :ingreso%> <br>
      <%= f.text_field :ingreso%>
    </p>
    <p>
      <%= f.label :edad%> <br>
      <%= f.text_field :edad%>
    </p>
    <p>
      <%= f.label :fecha_nacimiento%> <br>
      <%= f.text_field :fecha_nacimiento%>
    </p>
     <p>
       <%= f.label :priorizacion %><br>
       <%= f.select('priorizacion_id', Priorizacion.all.collect { |c| [c.nombre, c.id] }) %>

     </p>
    <p>
      <%= f.label :comuna %><br>
      <%= f.select('comuna_id', Comuna.all.collect { |c| [c.nombre, c.id] }) %>
    </p>
    <p>
      <%= f.label :rol %><br>
      <%= f.select('rol_id', Rol.all.collect { |c| [c.nombres, c.id] }) %>
    </p>

    <%= f.submit :Actualizar, class: 'btn btn-info' %>
<% end %>