<div class = "row">
    <div class="col-sm-4"><h3> <%= link_to 'Crear estudiante', nuevo_estudiante_path, class:'btn btn-primary btn-md' %> </h3>
    </div>
    <div class="col-sm-4"><h3> <%= link_to 'Crear Grupo Tutor', nuevo_grupo_tutor_path, class:'btn btn-primary btn-md' %> </h3>
    </div>


</div>
<table class="table">
  <thead>
  <tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Priorizacion</th>
    <th>Mostrar</th>
    <th>Editar</th>
    <th>Asignaturas</th>
  </tr>
  </thead>
  <tbody>
  <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.nombres %></td>
        <td><%= estudiante.apellidos %></td>
        <td>
          <% if estudiante.priorizacion !=nil %>
              <%= estudiante.priorizacion.nombre.to_s %>
          <% end %>
        </td>
        <td><%= link_to 'Mostrar', estudiante_url(estudiante) %></td>
        <td><%= link_to 'Editar', editar_estudiante_path(estudiante) %></td>
        <td><%= link_to 'Asignatura', asignaturas_estudiantes_path(estudiante) %></td>
      </tr>
  <% end %>
  </tbody>

</table>