<h3> <%= link_to 'Crear estudiante', nuevo_estudiante_path, class:'btn btn-primary btn-md' %> </h3>

<table class="table">
  <thead>
  <tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Priorizacion</th>
    <th>Mostrar</th>
    <th>editar</th>
  </tr>
  </thead>
  <tbody>
  <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.nombres %></td>
        <td><%= estudiante.apellidos %></td>
        <td>
          <% if estudiante.priorizacion !=nil %>
              <%= estudiante.priorizacion.nombre.to_s %>
          <% end %>
        </td>
        <td><%= link_to 'Mostrar', estudiante_url(estudiante) %></td>
        <td><%= link_to 'Editar', editar_estudiante_path(estudiante) %></td>
      </tr>
  <% end %>
  </tbody>

</table>