<h1>Estudiante</h1>

Nombres:<%= @estudiante.nombres %><br>
Apellidos:<%= @estudiante.apellidos %><br>
Rut:<%= @estudiante.rut %><br>
Email:<%= @estudiante.email %><br>

<%= link_to 'Volver', root_path, class:'btn btn-info' %><br>

<br><br><br>