<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/img/avatar3.png" class="img-circle" alt="User Image"/>
    </div>
    <div class="pull-left info">
      <p>Plan de Apoyo Estudiantil</p>


    </div>
  </div>


  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->

    <ul class="sidebar-menu">
      <li>
      <%= nav_link inicio_path do %>
          <i class="fa fa-dashboard"></i> <span>Inicio</span>
      <% end %>
        <%= nav_link estudiantes_path do %>
        <span>Estudiante</span>
      <% end %>
      <%= nav_link grupotutores_path do %>
          <span>Tutores</span>
      <% end %>
      <%= nav_link tutorados_path do %>
          <i ></i> <span>Tutorado</span>
      <% end %></li>
      <%= nav_link preguntas_path do %>
          <i ></i> <span>Preguntas</span>
      <% end %>
      <%= nav_link informes_path do %>
          <i></i> <span>Informes</span>
      <% end %>

    </ul>



  </ul>
  </section>