<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Plan de Apoyo Estudiantil</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
<div class="row">
  <div class="col-md-4" style="background-color:#ffffff;"></div>
  <div class="col-md-4" style="background-color:#f9f9f9;"><p align="center"><img src="../img/avatar3.png"></p></div>
  <div class="col-md-4" style="background-color:#ffffff;"></div>

  <div class="col-md-4" style="background-color:#ffffff;"></div>
</div>
<div clas="container-fluid">

  <div class="col-md-4" style="background-color:#ffffff;"></div>
  <div class="col-md-4" style="background-color:#f9f9f9;">
    <div id="login-box" class="login-box visible widget-box no-border">
      <div class="widget-body">
        <div class="widget-main">
          <p align="center"> <%= yield %></p>
         </div>
      </div>
    </div>
  </div>
</div>




</body>